html {
  background-color: white;
}

/* Box styles */
body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin: 0 auto; /* Centers the body element with 0 top/bottom and auto left/right */
}

ul {
  background-color: white;
  border: 5px solid purple;
  padding: 30px;
  border-radius: 20px;
}

/* Text styles */
h1 {
  color: darkslategray;
  border-bottom: 10px dotted purple;
  font-size: 2rem;
}

h2 {
  font-style: italic;
  font-size: 1.5rem;
}

.job-title {
  color: darkslategray;
  font-weight: bold;
}

a {
  color: green;
}

/* Mouse hover and keyboard focus states */
a:hover, 
a:focus {
  color: darkgreen;
  text-decoration: none; /* Removes the underline when hovered or focused */
}