html, body {
  margin: 0;
}

header {
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  color: white;
  background: darkcyan;
}

p {
  position: absolute;
  margin: 0;
  top: 15px;
  right: 20px;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
}

canvas {
  display: block;
}